* {
  
  background-color: white;
}

.btn: hover {
  background-color: eee;
  
}


.menu-column {
  margin-left: 50px;
  color: green;
  font-family: 'Pompiere', cursive;
  font-size: 150%;
  margin-top: 25px;
}

.footer-row {
  text-align: center;
 
}

.title {
  margin-top: 10px;
}

.text {
  font-size: 75%;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.picture {
  width: 100%;
}

.picture-row {
  width: 100%;
  
}

.main-column{
  margin-top: 25px;
}
.pic-contain {

}

i {
  margin: 5px;
}
.row {
  width: 100%;
}

img {
  width: 80%;
}

.col {
  background-color: blue;
}

.card-footer {
  text-align: center;
}